.bg-custom {
    background-color: #1f1c66;
}


.App-link {
color: #1f1c66;
}

.logo-hover {
    transition: transform 0.3s ease-in-out;
  }
  
  .logo-hover:hover {
    transform: scale(1.1);
  }
  
.login-btn {
  background-color: #1f1c66;
  border-color: #1f1c66;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.login-btn:hover {
  animation: bounce 0.5s ease infinite;
}

/* Bounce Animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}